// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Use Angular Material at the very top
@use '@angular/material' as mat;

// Define the theme object.
$angular-testing-purpose-project-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include the common styles for Angular Material. 
// Make sure to include this mixin only once.
@include mat.core();

// Include theme styles for core and each component used in your app.
:root {
  @include mat.all-component-themes($angular-testing-purpose-project-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($angular-testing-purpose-project-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($angular-testing-purpose-project-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
